@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');
body {
  background-color: #18222f;
}
.container {
  display: flex;
  margin-bottom: 20px;
}
h1 {
  font-size: 2.5em;
  color: #50deb8;
  margin-top: 0.5em; 
  text-align: left;
  font-weight: normal;
  font-family: 'Nanum Myeongjo', serif;
}
h2 {
  color: white;
  font-size: 1.2em;
  text-align: left; 
  font-weight: normal;
  font-family: 'Nanum Myeongjo', serif;
}
h3 {
  color: white;
  font-size: 1em;
  text-align: left;
  font-weight: normal;
  font-family: 'Nanum Myeongjo', serif;
}       
p {
  color: white;
  font-style: italic;
}
.styling h1 {
  font-size: 1.5em;
}
li {
  color: white;
  text-decoration: none;
}
a {
  color: dodgerblue;
  text-decoration: none;
}
.bio {
  margin-bottom: 1em;
}
.bio-photo {
  width: 23vw; /* 35vw */
  height: 35vh; /* 46vh */
  border-radius: 0.5em;
}
.left-box {
  flex: 1.4; /* Makes the left box twice as wide as the right box */
  margin: 1em;
  margin-top: 3em;
  background-color: #18222f;
  border: 0px solid #dee2e6;
  height: 55vh; /* Set a fixed height for both boxes */
}
.right-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1; /* Makes the right box narrower */
  margin: 1em;
  background-color: #18222f;
  border: 0px solid #dee2e6;
  height: 55vh; /* Set a fixed height for both boxes */
}
.left-box-two {
  flex: 2; /* Makes the left box twice as wide as the right box */
  margin: 1em;
  background-color: #18222f;
  border: 0px solid #dee2e6;
  height: 74vh; /* Set a fixed height for both boxes */
}
.right-box-two {
  flex: 1; /* Makes the right box narrower */
  margin: 1em;
  margin-top: 2.5em;
  padding-left: 0.5em;
  background-color: #18222f;
  border-radius: 0.5em; 
  border: 1px solid #dee2e6;
  height: 73vh; /* Set a fixed height for both boxes */
}
  
@media (max-width: 600px) {
  .container {
    flex-direction: column;
  }
  h1 {
    font-size: 2em;
  }
  #name {
    text-align: center;
  }
  .styling h1 {
    font-size: 1.2em;
  }
  li {
    color: white;
    text-decoration: none;
  }
  a {
    color: dodgerblue;
    text-decoration: none;
  }
  .left-box,
  .right-box {
    height: auto; /* Allow height to adjust on mobile screens */
  }
  .right-box-two {
    padding-right: 0.5em;
    padding-bottom: 0.8em; 
    height: auto; /* Allow height to adjust on mobile screens */
  }
  .bio {
    margin-bottom: 1em;
  }
  .bio-photo {
    margin-top: 1em;
    width: 57vw; 
    height: 35vh;
    border-radius: 0.5em; 
  }
  .right-box {
    order: -1; /* This will make the right box appear on top */
  }
}
