@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');     
body {
    font-family: 'Nanum Myeongjo', serif;
    background-color: #20394c; /* #f8f9fb*/
    margin: 0;
    padding: 0;

}
.bio-container {
    max-width: 800px;
    margin: 50px auto;
    background-color: #fcfdfe;
    padding: 20px;
    border-radius: 0.5em;
    box-shadow: 0px 0px 3px mediumpurple;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}
.bio-header {
    display: flex;
    align-items: center;
    border-bottom: 2px solid #eee;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.bio-photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-right: 20px;
}
/* .bio-name {
    font-size: 2em;
    color: black;
} */
.bio-name {
    font-size: 2em;
    background: linear-gradient(to right, #3C78D8 0%, #90CAF9 50%, #E0627A 100%);
    color: transparent;
    -webkit-text-fill-color: inherit;
    -webkit-background-clip: text;
}
.bio-role {
    font-size: 18px;
    color: black;
    /* font-weight: bold; */
}
.bio-description {
    line-height: 1.6;
    color: black;
}
#summary {
    font-weight: bold;
}
p, li {
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
}
a {
    color: black;
    text-decoration: none;
}

/* MOBILE SCREEN */
@media (max-width: 768px) {
    .bio-photo {
      width: 25vw;
      height: 15vh;
      border-radius: 50%;
      margin-right: 20px;
    }
    .bio-name {
      font-size: 1.2em;
    } 
    .bio-role {
      font-size: 0.8em;
    }
}  

